@page "/Drivers/CharlesLeclerc"
@inject HttpClient Http

<PageTitle>Charles Leclerc</PageTitle>

<Jumbotron style="border-bottom: solid grey 5px; border-right: solid grey 5px; border-bottom-right-radius: 10px;">
    <JumbotronTitle Size="JumbotronTitleSize.Is4">
        <h1 style="font-size: 42px; line-height: 48px; letter-spacing: 0.2px">
            @if (VectorDrivers == null)
            {
                <p> loading</p>
            }
            else
            {
                @VectorDrivers[1].Driver
            }
        </h1>
    </JumbotronTitle>
    <Divider></Divider>
    <div class="row">
        <div class="column">
            <div class="driver-logo">
                <img src="/img/drivers-content/charles-leclerc/logo.jpg" />
            </div>
            <div class="number-flag">
                @if (DriversNumbers == null)
                {
                    <p> loading</p>
                }
                else
                {
                    @DriversNumbers[1]
                }
                -
                @if (VectorDrivers == null)
                {
                    <p> loading</p>
                }
                else
                {
                    @VectorDrivers[1].Driver
                }
                <img src="/img/drivers/countries/Monaco.jpg" />
            </div>
        </div>
        <div class="column">
            <div class="driver-helmet">
                <img src="/img/teams/ferrari/ferrari-logo.jpg" />
                <img src="/img/drivers-content/charles-leclerc/helmet.png" />
            </div>
            <br />
            <div class="team-table">
                <table>
                    <tr>
                        <th>Position standing</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[1].Pos
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Team</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[1].Team
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Grand Prix entered</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[1].GrandPrix
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Wins</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[1].Wins
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Podiums</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[1].Podiums
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Pole position</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[1].PolePosition
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Fastest lap</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[1].FastestLap
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Laps led</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[1].LapsLed
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Points</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[1].Points
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="carousel">
        <Carousel @bind-SelectedSlide="@selectedSlide" Crossfade="true" ShowControls="false" ShowIndicators="false" Interval="3000">
            <CarouselSlide Name="1">
                <img src="img/drivers-content/charles-leclerc/img-1.jpg" />
            </CarouselSlide>
            <CarouselSlide Name="2">
                <img src="img/drivers-content/charles-leclerc/img-2.jpg" />
            </CarouselSlide>
            <CarouselSlide Name="3">
                <img src="img/drivers-content/charles-leclerc/img-3.jpg" />
            </CarouselSlide>
            <CarouselSlide Name="4">
                <img src="img/drivers-content/charles-leclerc/img-4.jpg" />
            </CarouselSlide>
        </Carousel>
    </div>
    <div class="team-content">
        <h1>Biography</h1>
        <p>
            Born in the Mediterranean idyll of Monaco, Leclerc arrived in F1 on a tidal wave of expectation.
            <br />
            <br />
            Practically peerless on his way to the GP3 and Formula 2 crowns, he showcased a dazzling array of skills from scorching pole positions, commanding victories – even when his car caught fire twice at Silverstone – to an ability to muscle his way through the pack. Winning back-to-back championships also taught Leclerc how to handle pressure, another useful tool in the big pond of Formula 1 racing.
            <br />
            <br />
            Stepping up to F1 in 2018, Leclerc showed flashes of ballistic pace on Saturdays and racing brilliance on Sundays, dragging his Sauber beyond its limits – and earning himself a money-can’t-buy race seat at Ferrari for 2019, stepping into the shoes of the Scuderia’s last world champion, Kimi Raikkonen.
            <br />
            <br />
            There he immediately put the cat among the proverbial pigeons, unafraid to go wheel-to-wheel with established number one, Sebastian Vettel. A maiden F1 victory at Spa was followed by another a week later on Ferrari’s hallowed home turf of Monza. The tifosi had found another new hero – who then became the first man to out-score Vettel over a season with the Scuderia, a feat he repeated in crushing fashion the following year.
            <br />
            <br />
            The 2020 and ’21 seasons bore little fruit for Ferrari, but Leclerc maintained his resolve to emerge a true title contender in 2022. With three wins, 11 podiums and nine pole positions, he was the only man able to consistently take the fight to champion Max Verstappen.                    <br />
            <br />
            <br />
            Out of the car, Leclerc is modest and thoughtful - but then he is on his own very personal mission. This exciting young talent is racing for his late father Herve and his friend and mentor Jules Bianchi, the F1 driver who died in 2015.
            <br />
            <br />
            On the evidence so far, he is doing them both proud.
        </p>
        <h1>Results</h1>
        <p>20 includes P20, DNFs, DNSs, DWs and DNPs</p>
        <div style="width: 99%">
            <LineChart @ref="lineChart" TItem="WatcherEvent" Options="@lineChartOptions" />
        </div>
    </div>
    <CardDeck>
        <Card>
            <CardImage Source="/img/teams/ferrari/img-4.jpg"></CardImage>
            <CardBody>
                <CardTitle Size="5">
                    @if (VectorDrivers == null)
                    {
                        <p> loading</p>
                    }
                    else
                    {
                        @VectorDrivers[4].Driver
                    }
                </CardTitle>
                <CardText>
                    @if (VectorDrivers == null)
                    {
                        <p> loading</p>
                    }
                    else
                    {
                        @VectorDrivers[1].Driver
                    }
                    teammate.
                </CardText>
                <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                    <Link To="/Drivers/CarlosSainz" TextColor="TextColor.White">
                    READ MORE <Icon Name="IconName.ArrowRight" />
                    </Link>
                </Button>
            </CardBody>
        </Card>
        <Card>
            <CardImage Source="/img/teams/ferrari/ferrari-logo.jpg" ></CardImage>
            <CardBody>
                <CardTitle Size="5">
                    @if (VectorDrivers == null)
                    {
                        <p> loading</p>
                    }
                    else
                    {
                        @VectorDrivers[1].Team
                    }
                </CardTitle>
                <CardText>
                    @if (VectorDrivers == null)
                    {
                        <p> loading</p>
                    }
                    else
                    {
                        @VectorDrivers[1].Driver
                    }
                    team.
                </CardText>
                <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                    <Link To="/Teams/Ferrari" TextColor="TextColor.White">
                    READ MORE <Icon Name="IconName.ArrowRight" />
                    </Link>
                </Button>
            </CardBody>
        </Card>
        <Card>
            <CardImage Source="/img/Changes.jpg"></CardImage>
            <CardBody>
                <CardTitle Size="5">Drivers</CardTitle>
                <CardText>
                    Full drivers lineup.
                </CardText>
                <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                    <Link To="/Drivers" TextColor="TextColor.White">
                    READ MORE <Icon Name="IconName.ArrowRight" />
                    </Link>
                </Button>
            </CardBody>
        </Card>
    </CardDeck>
</Jumbotron>

@*Theme*@
<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="typeof(App).Assembly">
        <Found>...</Found>
        <NotFound>...</NotFound>
    </Router>
</Blazorise.ThemeProvider>

@code {
    private string selectedSlide = "1";

    private Theme theme = new Theme
    {
        ColorOptions = new ThemeColorOptions { Primary = "#E10600" }
    };

    private Root[]? VectorDrivers;
    private int[] DriversNumbers = { 1, 16, 11, 63, 55, 44, 4, 31, 14, 77, 3, 5, 20, 10, 18, 47, 22, 24, 23, 6 };

    protected override async Task OnInitializedAsync ()
    {
        VectorDrivers = await Http.GetFromJsonAsync<Root[]>("sample-data/DriverStatistics.json");
    }

    public class Root
    {
        public int Pos { get; set; }
        public string Driver { get; set; }
        public string Team { get; set; }
        public int GrandPrix { get; set; }
        public int Wins { get; set; }
        public int Podiums { get; set; }
        public int PolePosition { get; set; }
        public int FastestLap { get; set; }
        public int LapsLed { get; set; }
        public int Points { get; set; }
    }

    private LineChart<WatcherEvent> lineChart;

    LineChartOptions lineChartOptions = new()
        {
            Parsing = new ChartParsing
            {
                XAxisKey = "sector",
                YAxisKey = "count",
            }
        };

    string[] Labels = { "Bahrain", "Saudi Arabia", "Australia", "Emilia Romagna", "Miami", "Spain", "Monaco", "Azerbaijan", "Canada", "Great Britain", "Austria", "France",
                        "Hungary", "Belgium", "Netherlands", "Italy", "Singapore", "Japan", "United States", "Mexico", "Brazil", "Abu Dhabi"};


    private List<string> backgroundColors = new() { ChartColor.FromRgba(255, 99, 132, 0.2f) };
    private List<string> borderColors = new() { ChartColor.FromRgba(255, 99, 132, 1f) };

    private bool isAlreadyInitialised;

    public class WatcherEvent
    {
        public string Sector { get; set; }
        public int Count { get; set; }
    }

    protected override async Task OnAfterRenderAsync (bool firstRender)
    {
        if (!isAlreadyInitialised)
        {
            isAlreadyInitialised = true;
            await lineChart.Clear();
            await lineChart.AddDataSet(GetLineChartDataset());
        }
    }

    private LineChartDataset<WatcherEvent> GetLineChartDataset ()
    {
        return new()
            {
                Label = "Charles Leclerc",
                Data = new List<WatcherEvent>
            {
                new WatcherEvent { Sector = Labels[0], Count = 1 },
                new WatcherEvent { Sector = Labels[1], Count = 2 },
                new WatcherEvent { Sector = Labels[2], Count = 1 },
                new WatcherEvent { Sector = Labels[3], Count = 6 },
                new WatcherEvent { Sector = Labels[4], Count = 2 },
                new WatcherEvent { Sector = Labels[5], Count = 20 },
                new WatcherEvent { Sector = Labels[6], Count = 4 },
                new WatcherEvent { Sector = Labels[7], Count = 20 },
                new WatcherEvent { Sector = Labels[8], Count = 5 },
                new WatcherEvent { Sector = Labels[9], Count = 4 },
                new WatcherEvent { Sector = Labels[10], Count = 12 },
                new WatcherEvent { Sector = Labels[11], Count = 20 },
                new WatcherEvent { Sector = Labels[12], Count = 6 },
                new WatcherEvent { Sector = Labels[13], Count = 6 },
                new WatcherEvent { Sector = Labels[14], Count = 3 },
                new WatcherEvent { Sector = Labels[15], Count = 2 },
                new WatcherEvent { Sector = Labels[16], Count = 2 },
                new WatcherEvent { Sector = Labels[17], Count = 3 },
                new WatcherEvent { Sector = Labels[18], Count = 3 },
                new WatcherEvent { Sector = Labels[19], Count = 6 },
                new WatcherEvent { Sector = Labels[20], Count = 4 },
                new WatcherEvent { Sector = Labels[21], Count = 2 },
            },
                BackgroundColor = backgroundColors[0],
                BorderColor = borderColors[0],
                Fill = true,
                PointRadius = 3,
                BorderWidth = 1,
                PointBorderColor = Enumerable.Repeat(borderColors.First(), 6).ToList(),
                CubicInterpolationMode = "monotone",
            };
    }
}
