@page "/Drivers/KevinMagnussen"
@inject HttpClient Http

<PageTitle>Kevin Magnussen</PageTitle>

<Jumbotron style="border-bottom: solid grey 5px; border-right: solid grey 5px; border-bottom-right-radius: 10px;">
    <JumbotronTitle Size="JumbotronTitleSize.Is4">
        <h1 style="font-size: 42px; line-height: 48px; letter-spacing: 0.2px">
            @if (VectorDrivers == null)
            {
                <p> loading</p>
            }
            else
            {
                @VectorDrivers[12].Driver
            }
        </h1>
    </JumbotronTitle>
    <Divider></Divider>
    <div class="row">
        <div class="column">
            <div class="driver-logo">
                <img src="/img/drivers-content/kevin-magnussen/logo.jpg" />
            </div>
            <div class="number-flag">
                @if (DriversNumbers == null)
                {
                    <p> loading</p>
                }
                else
                {
                    @DriversNumbers[12]
                }
                -
                @if (VectorDrivers == null)
                {
                    <p> loading</p>
                }
                else
                {
                    @VectorDrivers[12].Driver
                }
                <img src="/img/drivers/countries/Denmark.jpg" />
            </div>
        </div>
        <div class="column">
            <div class="driver-helmet">
                <img src="/img/teams/haas/haas-logo.jpg" />
                <img src="/img/drivers-content/kevin-magnussen/helmet.png" />
            </div>
            <br />
            <div class="team-table">
                <table>
                    <tr>
                        <th>Position standing</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[12].Pos
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Team</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[12].Team
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Grand Prix entered</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[12].GrandPrix
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Wins</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[12].Wins
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Podiums</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[12].Podiums
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Pole position</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[12].PolePosition
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Fastest lap</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[12].FastestLap
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Laps led</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[12].LapsLed
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Points</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[12].Points
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="carousel">
        <Carousel @bind-SelectedSlide="@selectedSlide" Crossfade="true" ShowControls="false" ShowIndicators="false" Interval="3000">
            <CarouselSlide Name="1">
                <img src="img/drivers-content/kevin-magnussen/img-1.jpg" />
            </CarouselSlide>
            <CarouselSlide Name="2">
                <img src="img/drivers-content/kevin-magnussen/img-2.jpg" />
            </CarouselSlide>
            <CarouselSlide Name="3">
                <img src="img/drivers-content/kevin-magnussen/img-3.jpg" />
            </CarouselSlide>
            <CarouselSlide Name="4">
                <img src="img/drivers-content/kevin-magnussen/img-4.jpg" />
            </CarouselSlide>
        </Carousel>
    </div>
    <div class="team-content">
        <h1>Biography</h1>
        <p>
            Call him a lone ranger or a maverick, but Magnussen is back in Formula 1 for one reason only – to race.
            <br />
            <br />
            He may be a second-generation F1 driver – following his father, Jan, onto the grid – but Magnussen’s idols are from the ‘golden era’ of Grand Prix racing when the likes of Juan Manuel Fangio and Stirling Moss risked it all for the love of the sport.
            <br />
            <br />
            The Roskilde racer’s own prowess was proven on debut for McLaren, who guided him through the junior ranks, when he cruised into the top-three at the 2014 Australian Grand Prix, becoming the first Dane to claim a podium in F1.
            <br />
            <br />
            Other champagne moments were more difficult to find, as he left McLaren behind for a season with Renault, before settling in for four among kindred spirits at Haas. And after a year away in the States, racing Indy and sportscars among other things, he returned to the US team in 2022, securing their first-ever pole position at the Brazilian Grand Prix.
            <br />
            <br />
            His meaty manoeuvres and elbows-out approach have earned him a bad-boy reputation on track, something that still leaves him baffled. Out of the car Magnussen is laidback and affable. After all he has his dream job – and he is only here to race.
        </p>
        <h1>Results</h1>
        <p>20 includes P20, DNFs, DNSs, DWs and DNPs</p>
        <div style="width: 99%">
            <LineChart @ref="lineChart" TItem="WatcherEvent" Options="@lineChartOptions" />
        </div>
    </div>
    <CardDeck>
        <Card>
            <CardImage Source="/img/teams/haas/img-1.jpg"></CardImage>
            <CardBody>
                <CardTitle Size="5">
                    @if (VectorDrivers == null)
                    {
                        <p> loading</p>
                    }
                    else
                    {
                        @VectorDrivers[15].Driver
                    }
                </CardTitle>
                <CardText>
                    @if (VectorDrivers == null)
                    {
                        <p> loading</p>
                    }
                    else
                    {
                        @VectorDrivers[12].Driver
                    }
                    teammate.
                </CardText>
                <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                    <Link To="/Drivers/MickSchumacher" TextColor="TextColor.White">
                    READ MORE <Icon Name="IconName.ArrowRight" />
                    </Link>
                </Button>
            </CardBody>
        </Card>
        <Card>
            <CardImage Source="/img/teams/haas/haas-logo.jpg" ></CardImage>
            <CardBody>
                <CardTitle Size="5">
                    @if (VectorDrivers == null)
                    {
                        <p> loading</p>
                    }
                    else
                    {
                        @VectorDrivers[12].Team
                    }
                </CardTitle>
                <CardText>
                    @if (VectorDrivers == null)
                    {
                        <p> loading</p>
                    }
                    else
                    {
                        @VectorDrivers[12].Driver
                    }
                    team.
                </CardText>
                <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                    <Link To="/Teams/Haas" TextColor="TextColor.White">
                    READ MORE <Icon Name="IconName.ArrowRight" />
                    </Link>
                </Button>
            </CardBody>
        </Card>
        <Card>
            <CardImage Source="/img/Changes.jpg"></CardImage>
            <CardBody>
                <CardTitle Size="5">Drivers</CardTitle>
                <CardText>
                    Full drivers lineup.
                </CardText>
                <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                    <Link To="/Drivers" TextColor="TextColor.White">
                    READ MORE <Icon Name="IconName.ArrowRight" />
                    </Link>
                </Button>
            </CardBody>
        </Card>
    </CardDeck>
</Jumbotron>

@*Theme*@
<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="typeof(App).Assembly">
        <Found>...</Found>
        <NotFound>...</NotFound>
    </Router>
</Blazorise.ThemeProvider>

@code {
    private string selectedSlide = "1";

    private Theme theme = new Theme
    {
        ColorOptions = new ThemeColorOptions { Primary = "#E10600" }
    };

    private Root[]? VectorDrivers;
    private int[] DriversNumbers = { 1, 16, 11, 63, 55, 44, 4, 31, 14, 77, 3, 5, 20, 10, 18, 47, 22, 24, 23, 6 };

    protected override async Task OnInitializedAsync ()
    {
        VectorDrivers = await Http.GetFromJsonAsync<Root[]>("sample-data/DriverStatistics.json");
    }

    public class Root
    {
        public int Pos { get; set; }
        public string Driver { get; set; }
        public string Team { get; set; }
        public int GrandPrix { get; set; }
        public int Wins { get; set; }
        public int Podiums { get; set; }
        public int PolePosition { get; set; }
        public int FastestLap { get; set; }
        public int LapsLed { get; set; }
        public int Points { get; set; }
    }

    private LineChart<WatcherEvent> lineChart;

    LineChartOptions lineChartOptions = new()
        {
            Parsing = new ChartParsing
            {
                XAxisKey = "sector",
                YAxisKey = "count",
            }
        };

    string[] Labels = { "Bahrain", "Saudi Arabia", "Australia", "Emilia Romagna", "Miami", "Spain", "Monaco", "Azerbaijan", "Canada", "Great Britain", "Austria", "France",
                        "Hungary", "Belgium", "Netherlands", "Italy", "Singapore", "Japan", "United States", "Mexico", "Brazil", "Abu Dhabi"};


    private List<string> backgroundColors = new() { ChartColor.FromRgba(255, 99, 132, 0.2f) };
    private List<string> borderColors = new() { ChartColor.FromRgba(255, 99, 132, 1f) };

    private bool isAlreadyInitialised;

    public class WatcherEvent
    {
        public string Sector { get; set; }
        public int Count { get; set; }
    }

    protected override async Task OnAfterRenderAsync (bool firstRender)
    {
        if (!isAlreadyInitialised)
        {
            isAlreadyInitialised = true;
            await lineChart.Clear();
            await lineChart.AddDataSet(GetLineChartDataset());
        }
    }

    private LineChartDataset<WatcherEvent> GetLineChartDataset ()
    {
        return new()
            {
                Label = "Kevin Magnussen",
                Data = new List<WatcherEvent>
            {
                new WatcherEvent { Sector = Labels[0], Count = 5 },
                new WatcherEvent { Sector = Labels[1], Count = 9 },
                new WatcherEvent { Sector = Labels[2], Count = 14 },
                new WatcherEvent { Sector = Labels[3], Count = 9 },
                new WatcherEvent { Sector = Labels[4], Count = 16 },
                new WatcherEvent { Sector = Labels[5], Count = 17 },
                new WatcherEvent { Sector = Labels[6], Count = 20 },
                new WatcherEvent { Sector = Labels[7], Count = 20 },
                new WatcherEvent { Sector = Labels[8], Count = 17 },
                new WatcherEvent { Sector = Labels[9], Count = 10 },
                new WatcherEvent { Sector = Labels[10], Count = 8 },
                new WatcherEvent { Sector = Labels[11], Count = 20 },
                new WatcherEvent { Sector = Labels[12], Count = 16 },
                new WatcherEvent { Sector = Labels[13], Count = 16 },
                new WatcherEvent { Sector = Labels[14], Count = 15 },
                new WatcherEvent { Sector = Labels[15], Count = 16 },
                new WatcherEvent { Sector = Labels[16], Count = 12 },
                new WatcherEvent { Sector = Labels[17], Count = 14 },
                new WatcherEvent { Sector = Labels[18], Count = 9 },
                new WatcherEvent { Sector = Labels[19], Count = 17 },
                new WatcherEvent { Sector = Labels[20], Count = 20 },
                new WatcherEvent { Sector = Labels[21], Count = 17 },

            },
                BackgroundColor = backgroundColors[0],
                BorderColor = borderColors[0],
                Fill = true,
                PointRadius = 3,
                BorderWidth = 1,
                PointBorderColor = Enumerable.Repeat(borderColors.First(), 6).ToList(),
                CubicInterpolationMode = "monotone",
            };
    }
}
