@page "/Drivers/LandoNorris"
@inject HttpClient Http

<PageTitle>Lando Norris</PageTitle>

<Jumbotron style="border-bottom: solid grey 5px; border-right: solid grey 5px; border-bottom-right-radius: 10px;">
    <JumbotronTitle Size="JumbotronTitleSize.Is4">
        <h1 style="font-size: 42px; line-height: 48px; letter-spacing: 0.2px">
            @if (VectorDrivers == null)
            {
                <p> loading</p>
            }
            else
            {
                @VectorDrivers[6].Driver
            }
        </h1>
    </JumbotronTitle>
    <Divider></Divider>
    <div class="row">
        <div class="column">
            <div class="driver-logo">
                <img src="/img/drivers-content/lando-norris/logo.jpg" />
            </div>
            <div class="number-flag">
                @if (DriversNumbers == null)
                {
                    <p> loading</p>
                }
                else
                {
                    @DriversNumbers[6]
                }
                -
                @if (VectorDrivers == null)
                {
                    <p> loading</p>
                }
                else
                {
                    @VectorDrivers[6].Driver
                }
                <img src="/img/drivers/countries/Uk.jpg" />
            </div>
        </div>
        <div class="column">
            <div class="driver-helmet">
                <img src="/img/teams/mclaren/mclaren-logo.jpg" />
                <img src="/img/drivers-content/lando-norris/helmet.png" />
            </div>
            <br />
            <div class="team-table">
                <table>
                    <tr>
                        <th>Position standing</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[6].Pos
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Team</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[6].Team
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Grand Prix entered</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[6].GrandPrix
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Wins</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[6].Wins
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Podiums</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[6].Podiums
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Pole position</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[6].PolePosition
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Fastest lap</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[6].FastestLap
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Laps led</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[6].LapsLed
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Points</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[6].Points
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="carousel">
        <Carousel @bind-SelectedSlide="@selectedSlide" Crossfade="true" ShowControls="false" ShowIndicators="false" Interval="3000">
            <CarouselSlide Name="1">
                <img src="img/drivers-content/lando-norris/img-1.jpg" />
            </CarouselSlide>
            <CarouselSlide Name="2">
                <img src="img/drivers-content/lando-norris/img-2.jpg" />
            </CarouselSlide>
            <CarouselSlide Name="3">
                <img src="img/drivers-content/lando-norris/img-3.jpg" />
            </CarouselSlide>
            <CarouselSlide Name="4">
                <img src="img/drivers-content/lando-norris/img-4.jpg" />
            </CarouselSlide>
        </Carousel>
    </div>
    <div class="team-content">
        <h1>Biography</h1>
        <p>
            Lando Norris may not be named after Star Wars rebel Lando Calrissian - his Mum just liked the moniker - but he has flair and fighting spirit in bountiful supply.
            <br />
            <br />
            McLaren had the British teenager on their books for two years before fast-tracking him into F1’s galaxy of stars in 2019. A firecracker in his junior career, with a penchant for pole positions and wheel-to-wheel tussles, Norris didn’t let them down.
            <br />
            <br />
            Paired with the highly-rated – and far more experienced – Carlos Sainz, his rookie season was impressive, Norris edging the Spaniard in their head-to-head qualifying battle, scoring points 11 times, and only narrowly missing out on a top-10 championship placing.
            <br />
            <br />
            A maiden podium came in 2020, with more following in the subsequent two seasons – he narrowly missed out on a win at Russia 2021 – as he dominated another more senior team mate, Daniel Ricciardo, to firmly establish himself in F1’s top tier.
            <br />
            <br />
            An exciting talent on track, away from it Norris brims with a modest charm and an artistic side sees him design and paint his own race gear as a hobby. The focus for the future is allying artistry and ambition on track as McLaren rely on the promise of youth to take them back to the top.
        </p>
        <h1>Results</h1>
        <p>20 includes P20, DNFs, DNSs, DWs and DNPs</p>
        <div style="width: 99%">
            <LineChart @ref="lineChart" TItem="WatcherEvent" Options="@lineChartOptions" />
        </div>
    </div>
    <CardDeck>
        <Card>
            <CardImage Source="/img/teams/mclaren/img-4.jpg"></CardImage>
            <CardBody>
                <CardTitle Size="5">
                    @if (VectorDrivers == null)
                    {
                        <p> loading</p>
                    }
                    else
                    {
                        @VectorDrivers[10].Driver
                    }
                </CardTitle>
                <CardText>
                    @if (VectorDrivers == null)
                    {
                        <p> loading</p>
                    }
                    else
                    {
                        @VectorDrivers[6].Driver
                    }
                    teammate.
                </CardText>
                <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                    <Link To="/Drivers/DanielRicciardo" TextColor="TextColor.White">
                    READ MORE <Icon Name="IconName.ArrowRight" />
                    </Link>
                </Button>
            </CardBody>
        </Card>
        <Card>
            <CardImage Source="/img/teams/mclaren/mclaren-logo.jpg" ></CardImage>
            <CardBody>
                <CardTitle Size="5">
                    @if (VectorDrivers == null)
                    {
                        <p> loading</p>
                    }
                    else
                    {
                        @VectorDrivers[6].Team
                    }
                </CardTitle>
                <CardText>
                    @if (VectorDrivers == null)
                    {
                        <p> loading</p>
                    }
                    else
                    {
                        @VectorDrivers[6].Driver
                    }
                    team.
                </CardText>
                <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                    <Link To="/Teams/Mclaren" TextColor="TextColor.White">
                    READ MORE <Icon Name="IconName.ArrowRight" />
                    </Link>
                </Button>
            </CardBody>
        </Card>
        <Card>
            <CardImage Source="/img/Changes.jpg"></CardImage>
            <CardBody>
                <CardTitle Size="5">Drivers</CardTitle>
                <CardText>
                    Full drivers lineup.
                </CardText>
                <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                    <Link To="/Drivers" TextColor="TextColor.White">
                    READ MORE <Icon Name="IconName.ArrowRight" />
                    </Link>
                </Button>
            </CardBody>
        </Card>
    </CardDeck>
</Jumbotron>

@*Theme*@
<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="typeof(App).Assembly">
        <Found>...</Found>
        <NotFound>...</NotFound>
    </Router>
</Blazorise.ThemeProvider>

@code {
    private string selectedSlide = "1";

    private Theme theme = new Theme
    {
        ColorOptions = new ThemeColorOptions { Primary = "#E10600" }
    };

    private Root[]? VectorDrivers;
    private int[] DriversNumbers = { 1, 16, 11, 63, 55, 44, 4, 31, 14, 77, 3, 5, 20, 10, 18, 47, 22, 24, 23, 6 };

    protected override async Task OnInitializedAsync ()
    {
        VectorDrivers = await Http.GetFromJsonAsync<Root[]>("sample-data/DriverStatistics.json");
    }

    public class Root
    {
        public int Pos { get; set; }
        public string Driver { get; set; }
        public string Team { get; set; }
        public int GrandPrix { get; set; }
        public int Wins { get; set; }
        public int Podiums { get; set; }
        public int PolePosition { get; set; }
        public int FastestLap { get; set; }
        public int LapsLed { get; set; }
        public int Points { get; set; }
    }

    private LineChart<WatcherEvent> lineChart;

    LineChartOptions lineChartOptions = new()
        {
            Parsing = new ChartParsing
            {
                XAxisKey = "sector",
                YAxisKey = "count",
            }
        };

    string[] Labels = { "Bahrain", "Saudi Arabia", "Australia", "Emilia Romagna", "Miami", "Spain", "Monaco", "Azerbaijan", "Canada", "Great Britain", "Austria", "France",
                        "Hungary", "Belgium", "Netherlands", "Italy", "Singapore", "Japan", "United States", "Mexico", "Brazil", "Abu Dhabi"};


    private List<string> backgroundColors = new() { ChartColor.FromRgba(255, 99, 132, 0.2f) };
    private List<string> borderColors = new() { ChartColor.FromRgba(255, 99, 132, 1f) };

    private bool isAlreadyInitialised;

    public class WatcherEvent
    {
        public string Sector { get; set; }
        public int Count { get; set; }
    }

    protected override async Task OnAfterRenderAsync (bool firstRender)
    {
        if (!isAlreadyInitialised)
        {
            isAlreadyInitialised = true;
            await lineChart.Clear();
            await lineChart.AddDataSet(GetLineChartDataset());
        }
    }

    private LineChartDataset<WatcherEvent> GetLineChartDataset ()
    {
        return new()
            {
                Label = "Lando Norris",
                Data = new List<WatcherEvent>
            {
                new WatcherEvent { Sector = Labels[0], Count = 15 },
                new WatcherEvent { Sector = Labels[1], Count = 7 },
                new WatcherEvent { Sector = Labels[2], Count = 5 },
                new WatcherEvent { Sector = Labels[3], Count = 3 },
                new WatcherEvent { Sector = Labels[4], Count = 20 },
                new WatcherEvent { Sector = Labels[5], Count = 8 },
                new WatcherEvent { Sector = Labels[6], Count = 6 },
                new WatcherEvent { Sector = Labels[7], Count = 9 },
                new WatcherEvent { Sector = Labels[8], Count = 15 },
                new WatcherEvent { Sector = Labels[9], Count = 6 },
                new WatcherEvent { Sector = Labels[10], Count = 7 },
                new WatcherEvent { Sector = Labels[11], Count = 7 },
                new WatcherEvent { Sector = Labels[12], Count = 7 },
                new WatcherEvent { Sector = Labels[13], Count = 12 },
                new WatcherEvent { Sector = Labels[14], Count = 7 },
                new WatcherEvent { Sector = Labels[15], Count = 7 },
                new WatcherEvent { Sector = Labels[16], Count = 4 },
                new WatcherEvent { Sector = Labels[17], Count = 10 },
                new WatcherEvent { Sector = Labels[18], Count = 6 },
                new WatcherEvent { Sector = Labels[19], Count = 9 },
                new WatcherEvent { Sector = Labels[20], Count = 20 },
                new WatcherEvent { Sector = Labels[21], Count = 6 },

            },
                BackgroundColor = backgroundColors[0],
                BorderColor = borderColors[0],
                Fill = true,
                PointRadius = 3,
                BorderWidth = 1,
                PointBorderColor = Enumerable.Repeat(borderColors.First(), 6).ToList(),
                CubicInterpolationMode = "monotone",
            };
    }
}
