@page "/Drivers/LewisHamilton"
@inject HttpClient Http

<PageTitle>Lewis Hamilton</PageTitle>

<Layout>
    <LayoutHeader Fixed="true">
        <Header />
    </LayoutHeader>
    <LayoutContent style="margin-top: 70px; position: absolute;">
        <Jumbotron style="border-bottom: solid grey 5px; border-right: solid grey 5px; border-bottom-right-radius: 10px;">
            <JumbotronTitle Size="JumbotronTitleSize.Is4">
                <h1 style="font-size: 42px; line-height: 48px; letter-spacing: 0.2px">
                    @if (VectorDrivers == null)
                    {
                        <p> loading</p>
                    }
                    else
                    {
                        @VectorDrivers[5].Driver
                    }
                </h1>
            </JumbotronTitle>
            <Divider></Divider>
            <div class="row">
                <div class="column">
                    <div class="driver-logo">
                        <img src="/img/drivers-content/lewis-hamilton/logo.jpg" />
                    </div>
                    <div class="number-flag">
                        @if (DriversNumbers == null)
                        {
                            <p> loading</p>
                        }
                        else
                        {
                            @DriversNumbers[5]
                        }
                        -
                        @if (VectorDrivers == null)
                        {
                            <p> loading</p>
                        }
                        else
                        {
                            @VectorDrivers[5].Driver
                        }
                        <img src="/img/drivers/countries/Uk.jpg" />
                    </div>
                </div>
                <div class="column">
                    <div class="driver-helmet">
                        <img src="/img/teams/mercedes/mercedes-logo.jpg" />
                        <img src="/img/drivers-content/lewis-hamilton/helmet.png" />
                    </div>
                    <br />
                    <div class="team-table">
                        <table>
                            <tr>
                                <th>Position standing</th>
                                <td>
                                    @if (VectorDrivers == null)
                                    {
                                        <p> loading</p>
                                    }
                                    else
                                    {
                                        @VectorDrivers[5].Pos
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Team</th>
                                <td>
                                    @if (VectorDrivers == null)
                                    {
                                        <p> loading</p>
                                    }
                                    else
                                    {
                                        @VectorDrivers[5].Team
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Grand Prix entered</th>
                                <td>
                                    @if (VectorDrivers == null)
                                    {
                                        <p> loading</p>
                                    }
                                    else
                                    {
                                        @VectorDrivers[5].GrandPrix
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Wins</th>
                                <td>
                                    @if (VectorDrivers == null)
                                    {
                                        <p> loading</p>
                                    }
                                    else
                                    {
                                        @VectorDrivers[5].Wins
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Podiums</th>
                                <td>
                                    @if (VectorDrivers == null)
                                    {
                                        <p> loading</p>
                                    }
                                    else
                                    {
                                        @VectorDrivers[5].Podiums
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Pole position</th>
                                <td>
                                    @if (VectorDrivers == null)
                                    {
                                        <p> loading</p>
                                    }
                                    else
                                    {
                                        @VectorDrivers[5].PolePosition
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Fastest lap</th>
                                <td>
                                    @if (VectorDrivers == null)
                                    {
                                        <p> loading</p>
                                    }
                                    else
                                    {
                                        @VectorDrivers[5].FastestLap
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Laps led</th>
                                <td>
                                    @if (VectorDrivers == null)
                                    {
                                        <p> loading</p>
                                    }
                                    else
                                    {
                                        @VectorDrivers[5].LapsLed
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Points</th>
                                <td>
                                    @if (VectorDrivers == null)
                                    {
                                        <p> loading</p>
                                    }
                                    else
                                    {
                                        @VectorDrivers[5].Points
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="carousel">
                <Carousel @bind-SelectedSlide="@selectedSlide" Crossfade="true" ShowControls="false" ShowIndicators="false" Interval="3000">
                    <CarouselSlide Name="1">
                        <img src="img/drivers-content/lewis-hamilton/img-1.jpg" />
                    </CarouselSlide>
                    <CarouselSlide Name="2">
                        <img src="img/drivers-content/lewis-hamilton/img-2.jpg" />
                    </CarouselSlide>
                    <CarouselSlide Name="3">
                        <img src="img/drivers-content/lewis-hamilton/img-3.jpg" />
                    </CarouselSlide>
                    <CarouselSlide Name="4">
                        <img src="img/drivers-content/lewis-hamilton/img-4.jpg" />
                    </CarouselSlide>
                </Carousel>
            </div>
            <div class="team-content">
                <h1>Biography</h1>
                <p>
                    ‘Still I Rise’ – these are the words emblazoned across the back of Lewis Hamilton’s helmet and tattooed across his shoulders, and ever since annihilating expectations with one of the greatest rookie performances in F1 history in 2007, that’s literally all he’s done: risen to the top of the all-time pole positions list ahead of his hero Ayrton Senna, surged into first place in the wins column surpassing the inimitable Michael Schumacher, and then matched the legendary German’s seven world titles.
                    <br />
                    <br />
                    Is he the G.O.A.T? Few would deny that he’s in the conversation – and what’s more he’s got there his way, twinning his relentless speed with a refusal to conform to stereotypes for how a racing driver should think, dress or behave.
                    <br />
                    <br />
                    Respect is hard earned in F1, but Hamilton – now Sir Lewis Hamilton to be precise – has it from every one of his peers. Why? Because they know that whatever the track, whatever the conditions, whatever the situation, when his visor goes down and the lights go out, it’s Hammertime.
                </p>
                <h1>Results</h1>
                <p>20 includes P20, DNFs, DNSs, DWs and DNPs</p>
                <div style="width: 99%">
                    <LineChart @ref="lineChart" TItem="WatcherEvent" Options="@lineChartOptions" />
                </div>
            </div>
            <CardDeck>
                <Card>
                    <CardImage Source="/img/teams/mercedes/img-3.jpg"></CardImage>
                    <CardBody>
                        <CardTitle Size="5">
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[3].Driver
                            }
                        </CardTitle>
                        <CardText>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[5].Driver
                            }
                            teammate.
                        </CardText>
                        <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                            <Link To="/Drivers/GeorgeRussell" TextColor="TextColor.White">
                            READ MORE <Icon Name="IconName.ArrowRight" />
                            </Link>
                        </Button>
                    </CardBody>
                </Card>
                <Card>
                    <CardImage Source="/img/teams/mercedes/mercedes-logo.jpg" ></CardImage>
                    <CardBody>
                        <CardTitle Size="5">
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[5].Team
                            }
                        </CardTitle>
                        <CardText>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[5].Driver
                            }
                            team.
                        </CardText>
                        <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                            <Link To="/Teams/Mercedes" TextColor="TextColor.White">
                            READ MORE <Icon Name="IconName.ArrowRight" />
                            </Link>
                        </Button>
                    </CardBody>
                </Card>
                <Card>
                    <CardImage Source="/img/Changes.jpg"></CardImage>
                    <CardBody>
                        <CardTitle Size="5">Drivers</CardTitle>
                        <CardText>
                            Full drivers lineup.
                        </CardText>
                        <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                            <Link To="/Drivers" TextColor="TextColor.White">
                            READ MORE <Icon Name="IconName.ArrowRight" />
                            </Link>
                        </Button>
                    </CardBody>
                </Card>
            </CardDeck>
        </Jumbotron>
        <Footer />
    </LayoutContent>
</Layout>

@*Theme*@
<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="typeof(App).Assembly">
        <Found>...</Found>
        <NotFound>...</NotFound>
    </Router>
</Blazorise.ThemeProvider>

@code {
    private string selectedSlide = "1";

    private Theme theme = new Theme
    {
        ColorOptions = new ThemeColorOptions { Primary = "#E10600" }
    };

    private Root[]? VectorDrivers;
    private int[] DriversNumbers = { 1, 16, 11, 63, 55, 44, 4, 31, 14, 77, 3, 5, 20, 10, 18, 47, 22, 24, 23, 6 };

    protected override async Task OnInitializedAsync ()
    {
        VectorDrivers = await Http.GetFromJsonAsync<Root[]>("sample-data/DriverStatistics.json");
    }

    public class Root
    {
        public int Pos { get; set; }
        public string Driver { get; set; }
        public string Team { get; set; }
        public int GrandPrix { get; set; }
        public int Wins { get; set; }
        public int Podiums { get; set; }
        public int PolePosition { get; set; }
        public int FastestLap { get; set; }
        public int LapsLed { get; set; }
        public int Points { get; set; }
    }

    private LineChart<WatcherEvent> lineChart;

    LineChartOptions lineChartOptions = new()
        {
            Parsing = new ChartParsing
            {
                XAxisKey = "sector",
                YAxisKey = "count",
            }
        };

    string[] Labels = { "Bahrain", "Saudi Arabia", "Australia", "Emilia Romagna", "Miami", "Spain", "Monaco", "Azerbaijan", "Canada", "Great Britain", "Austria", "France",
                        "Hungary", "Belgium", "Netherlands", "Italy", "Singapore", "Japan", "United States", "Mexico", "Brazil", "Abu Dhabi"};


    private List<string> backgroundColors = new() { ChartColor.FromRgba(255, 99, 132, 0.2f) };
    private List<string> borderColors = new() { ChartColor.FromRgba(255, 99, 132, 1f) };

    private bool isAlreadyInitialised;

    public class WatcherEvent
    {
        public string Sector { get; set; }
        public int Count { get; set; }
    }

    protected override async Task OnAfterRenderAsync (bool firstRender)
    {
        if (!isAlreadyInitialised)
        {
            isAlreadyInitialised = true;
            await lineChart.Clear();
            await lineChart.AddDataSet(GetLineChartDataset());
        }
    }

    private LineChartDataset<WatcherEvent> GetLineChartDataset ()
    {
        return new()
            {
                Label = "Lewis Hamilton",
                Data = new List<WatcherEvent>
            {
                new WatcherEvent { Sector = Labels[0], Count = 3 },
                new WatcherEvent { Sector = Labels[1], Count = 10 },
                new WatcherEvent { Sector = Labels[2], Count = 4 },
                new WatcherEvent { Sector = Labels[3], Count = 13 },
                new WatcherEvent { Sector = Labels[4], Count = 6 },
                new WatcherEvent { Sector = Labels[5], Count = 5 },
                new WatcherEvent { Sector = Labels[6], Count = 8 },
                new WatcherEvent { Sector = Labels[7], Count = 4 },
                new WatcherEvent { Sector = Labels[8], Count = 3 },
                new WatcherEvent { Sector = Labels[9], Count = 3 },
                new WatcherEvent { Sector = Labels[10], Count = 3 },
                new WatcherEvent { Sector = Labels[11], Count = 2 },
                new WatcherEvent { Sector = Labels[12], Count = 2 },
                new WatcherEvent { Sector = Labels[13], Count = 20 },
                new WatcherEvent { Sector = Labels[14], Count = 4 },
                new WatcherEvent { Sector = Labels[15], Count = 5 },
                new WatcherEvent { Sector = Labels[16], Count = 9 },
                new WatcherEvent { Sector = Labels[17], Count = 5 },
                new WatcherEvent { Sector = Labels[18], Count = 2 },
                new WatcherEvent { Sector = Labels[19], Count = 2 },
                new WatcherEvent { Sector = Labels[20], Count = 2 },
                new WatcherEvent { Sector = Labels[21], Count = 18 },

            },
                BackgroundColor = backgroundColors[0],
                BorderColor = borderColors[0],
                Fill = true,
                PointRadius = 3,
                BorderWidth = 1,
                PointBorderColor = Enumerable.Repeat(borderColors.First(), 6).ToList(),
                CubicInterpolationMode = "monotone",
            };
    }
}
