@page "/Drivers/MickSchumacher"
@inject HttpClient Http

<PageTitle>Mick Schumacher</PageTitle>

<Layout>
    <LayoutHeader Fixed="true">
        <Header />
    </LayoutHeader>
    <LayoutContent style="margin-top: 70px; position: absolute;">
        <Jumbotron style="border-bottom: solid grey 5px; border-right: solid grey 5px; border-bottom-right-radius: 10px;">
            <JumbotronTitle Size="JumbotronTitleSize.Is4">
                <h1 style="font-size: 42px; line-height: 48px; letter-spacing: 0.2px">
                    @if (VectorDrivers == null)
                    {
                        <p> loading</p>
                    }
                    else
                    {
                        @VectorDrivers[15].Driver
                    }
                </h1>
            </JumbotronTitle>
            <Divider></Divider>
            <div class="row">
                <div class="column">
                    <div class="driver-logo">
                        <img src="/img/drivers-content/mick-schumacher/logo.jpg" />
                    </div>
                    <div class="number-flag">
                        @if (DriversNumbers == null)
                        {
                            <p> loading</p>
                        }
                        else
                        {
                            @DriversNumbers[15]
                        }
                        -
                        @if (VectorDrivers == null)
                        {
                            <p> loading</p>
                        }
                        else
                        {
                            @VectorDrivers[15].Driver
                        }
                        <img src="/img/drivers/countries/Germany.jpg" />
                    </div>
                </div>
                <div class="column">
                    <div class="driver-helmet">
                        <img src="/img/teams/haas/haas-logo.jpg" />
                        <img src="/img/drivers-content/mick-schumacher/helmet.png" />
                    </div>
                    <br />
                    <div class="team-table">
                        <table>
                            <tr>
                                <th>Position standing</th>
                                <td>
                                    @if (VectorDrivers == null)
                                    {
                                        <p> loading</p>
                                    }
                                    else
                                    {
                                        @VectorDrivers[15].Pos
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Team</th>
                                <td>
                                    @if (VectorDrivers == null)
                                    {
                                        <p> loading</p>
                                    }
                                    else
                                    {
                                        @VectorDrivers[15].Team
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Grand Prix entered</th>
                                <td>
                                    @if (VectorDrivers == null)
                                    {
                                        <p> loading</p>
                                    }
                                    else
                                    {
                                        @VectorDrivers[15].GrandPrix
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Wins</th>
                                <td>
                                    @if (VectorDrivers == null)
                                    {
                                        <p> loading</p>
                                    }
                                    else
                                    {
                                        @VectorDrivers[15].Wins
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Podiums</th>
                                <td>
                                    @if (VectorDrivers == null)
                                    {
                                        <p> loading</p>
                                    }
                                    else
                                    {
                                        @VectorDrivers[15].Podiums
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Pole position</th>
                                <td>
                                    @if (VectorDrivers == null)
                                    {
                                        <p> loading</p>
                                    }
                                    else
                                    {
                                        @VectorDrivers[15].PolePosition
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Fastest lap</th>
                                <td>
                                    @if (VectorDrivers == null)
                                    {
                                        <p> loading</p>
                                    }
                                    else
                                    {
                                        @VectorDrivers[15].FastestLap
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Laps led</th>
                                <td>
                                    @if (VectorDrivers == null)
                                    {
                                        <p> loading</p>
                                    }
                                    else
                                    {
                                        @VectorDrivers[15].LapsLed
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Points</th>
                                <td>
                                    @if (VectorDrivers == null)
                                    {
                                        <p> loading</p>
                                    }
                                    else
                                    {
                                        @VectorDrivers[15].Points
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="carousel">
                <Carousel @bind-SelectedSlide="@selectedSlide" Crossfade="true" ShowControls="false" ShowIndicators="false" Interval="3000">
                    <CarouselSlide Name="1">
                        <img src="img/drivers-content/mick-schumacher/img-1.jpg" />
                    </CarouselSlide>
                    <CarouselSlide Name="2">
                        <img src="img/drivers-content/mick-schumacher/img-2.jpg" />
                    </CarouselSlide>
                    <CarouselSlide Name="3">
                        <img src="img/drivers-content/mick-schumacher/img-3.jpg" />
                    </CarouselSlide>
                    <CarouselSlide Name="4">
                        <img src="img/drivers-content/mick-schumacher/img-4.jpg" />
                    </CarouselSlide>
                </Carousel>
            </div>
            <div class="team-content">
                <h1>Biography</h1>
                <p>
                    Plenty of sons of former F1 drivers have joined the sport over the years – two have even emulated their fathers to become world champions – but carrying the Schumacher name is surely an extra level of pressure for Mick, given his father Michael’s extraordinary achievements in Formula 1.
                    <br />
                    <br />
                    But Schumacher Junior, a member of the Ferrari Driver Academy, arrived in F1 in 2021 with Haas after clinching the previous season’s F2 title in 2020, to add to the F3 championship he won in 2018 – so there was zero suggestion he had been elevated to the top level of motorsport because of his name.
                    <br />
                    <br />
                    It’s talent that brought him this far and he showed more of the same as he acclimatised to F1 in a tough rookie season, consistently outclassing his team mate in their uncompetitive machinery.
                    <br />
                    <br />
                    Now Schumacher must continue to impress if he is to one day follow in his father’s footsteps and claim a race seat with the Scuderia.
                </p>
                <h1>Results</h1>
                <p>20 includes P20, DNFs, DNSs, DWs and DNPs</p>
                <div style="width: 99%">
                    <LineChart @ref="lineChart" TItem="WatcherEvent" Options="@lineChartOptions" />
                </div>
            </div>
            <CardDeck>
                <Card>
                    <CardImage Source="/img/teams/haas/img-3.jpg"></CardImage>
                    <CardBody>
                        <CardTitle Size="5">
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[12].Driver
                            }
                        </CardTitle>
                        <CardText>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[15].Driver
                            }
                            teammate.
                        </CardText>
                        <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                            <Link To="/Drivers/KevinMagnussen" TextColor="TextColor.White">
                            READ MORE <Icon Name="IconName.ArrowRight" />
                            </Link>
                        </Button>
                    </CardBody>
                </Card>
                <Card>
                    <CardImage Source="/img/teams/haas/haas-logo.jpg" ></CardImage>
                    <CardBody>
                        <CardTitle Size="5">
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[15].Team
                            }
                        </CardTitle>
                        <CardText>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[15].Driver
                            }
                            team.
                        </CardText>
                        <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                            <Link To="/Teams/Haas" TextColor="TextColor.White">
                            READ MORE <Icon Name="IconName.ArrowRight" />
                            </Link>
                        </Button>
                    </CardBody>
                </Card>
                <Card>
                    <CardImage Source="/img/Changes.jpg"></CardImage>
                    <CardBody>
                        <CardTitle Size="5">Drivers</CardTitle>
                        <CardText>
                            Full drivers lineup.
                        </CardText>
                        <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                            <Link To="/Drivers" TextColor="TextColor.White">
                            READ MORE <Icon Name="IconName.ArrowRight" />
                            </Link>
                        </Button>
                    </CardBody>
                </Card>
            </CardDeck>
        </Jumbotron>
        <Footer />
    </LayoutContent>
</Layout>

@*Theme*@
<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="typeof(App).Assembly">
        <Found>...</Found>
        <NotFound>...</NotFound>
    </Router>
</Blazorise.ThemeProvider>

@code {
    private string selectedSlide = "1";

    private Theme theme = new Theme
    {
        ColorOptions = new ThemeColorOptions { Primary = "#E10600" }
    };

    private Root[]? VectorDrivers;
    private int[] DriversNumbers = { 1, 16, 11, 63, 55, 44, 4, 31, 14, 77, 3, 5, 20, 10, 18, 47, 22, 24, 23, 6 };

    protected override async Task OnInitializedAsync ()
    {
        VectorDrivers = await Http.GetFromJsonAsync<Root[]>("sample-data/DriverStatistics.json");
    }

    public class Root
    {
        public int Pos { get; set; }
        public string Driver { get; set; }
        public string Team { get; set; }
        public int GrandPrix { get; set; }
        public int Wins { get; set; }
        public int Podiums { get; set; }
        public int PolePosition { get; set; }
        public int FastestLap { get; set; }
        public int LapsLed { get; set; }
        public int Points { get; set; }
    }

    private LineChart<WatcherEvent> lineChart;

    LineChartOptions lineChartOptions = new()
        {
            Parsing = new ChartParsing
            {
                XAxisKey = "sector",
                YAxisKey = "count",
            }
        };

    string[] Labels = { "Bahrain", "Saudi Arabia", "Australia", "Emilia Romagna", "Miami", "Spain", "Monaco", "Azerbaijan", "Canada", "Great Britain", "Austria", "France",
                        "Hungary", "Belgium", "Netherlands", "Italy", "Singapore", "Japan", "United States", "Mexico", "Brazil", "Abu Dhabi"};


    private List<string> backgroundColors = new() { ChartColor.FromRgba(255, 99, 132, 0.2f) };
    private List<string> borderColors = new() { ChartColor.FromRgba(255, 99, 132, 1f) };

    private bool isAlreadyInitialised;

    public class WatcherEvent
    {
        public string Sector { get; set; }
        public int Count { get; set; }
    }

    protected override async Task OnAfterRenderAsync (bool firstRender)
    {
        if (!isAlreadyInitialised)
        {
            isAlreadyInitialised = true;
            await lineChart.Clear();
            await lineChart.AddDataSet(GetLineChartDataset());
        }
    }

    private LineChartDataset<WatcherEvent> GetLineChartDataset ()
    {
        return new()
            {
                Label = "Mick Schumacher",
                Data = new List<WatcherEvent>
            {
                new WatcherEvent { Sector = Labels[0], Count = 11 },
                new WatcherEvent { Sector = Labels[1], Count = 20 },
                new WatcherEvent { Sector = Labels[2], Count = 13 },
                new WatcherEvent { Sector = Labels[3], Count = 17 },
                new WatcherEvent { Sector = Labels[4], Count = 15 },
                new WatcherEvent { Sector = Labels[5], Count = 14 },
                new WatcherEvent { Sector = Labels[6], Count = 20 },
                new WatcherEvent { Sector = Labels[7], Count = 14 },
                new WatcherEvent { Sector = Labels[8], Count = 20 },
                new WatcherEvent { Sector = Labels[9], Count = 8 },
                new WatcherEvent { Sector = Labels[10], Count = 6 },
                new WatcherEvent { Sector = Labels[11], Count = 15 },
                new WatcherEvent { Sector = Labels[12], Count = 14 },
                new WatcherEvent { Sector = Labels[13], Count = 17 },
                new WatcherEvent { Sector = Labels[14], Count = 13 },
                new WatcherEvent { Sector = Labels[15], Count = 12 },
                new WatcherEvent { Sector = Labels[16], Count = 13 },
                new WatcherEvent { Sector = Labels[17], Count = 17 },
                new WatcherEvent { Sector = Labels[18], Count = 15 },
                new WatcherEvent { Sector = Labels[19], Count = 16 },
                new WatcherEvent { Sector = Labels[20], Count = 13 },
                new WatcherEvent { Sector = Labels[21], Count = 16 },

            },
                BackgroundColor = backgroundColors[0],
                BorderColor = borderColors[0],
                Fill = true,
                PointRadius = 3,
                BorderWidth = 1,
                PointBorderColor = Enumerable.Repeat(borderColors.First(), 6).ToList(),
                CubicInterpolationMode = "monotone",
            };
    }
}
