@page "/Drivers/SebastianVettel"
@inject HttpClient Http

<PageTitle>Sebastian Vettel</PageTitle>

<Jumbotron style="border-bottom: solid grey 5px; border-right: solid grey 5px; border-bottom-right-radius: 10px;">
    <JumbotronTitle Size="JumbotronTitleSize.Is4">
        <h1 style="font-size: 42px; line-height: 48px; letter-spacing: 0.2px">
            @if (VectorDrivers == null)
            {
                <p> loading</p>
            }
            else
            {
                @VectorDrivers[11].Driver
            }
        </h1>
    </JumbotronTitle>
    <Divider></Divider>
    <div class="row">
        <div class="column">
            <div class="driver-logo">
                <img src="/img/drivers-content/sebastian-vettel/logo.jpg" />
            </div>
            <div class="number-flag">
                @if (DriversNumbers == null)
                {
                    <p> loading</p>
                }
                else
                {
                    @DriversNumbers[11]
                }
                -
                @if (VectorDrivers == null)
                {
                    <p> loading</p>
                }
                else
                {
                    @VectorDrivers[11].Driver
                }
                <img src="/img/drivers/countries/Germany.jpg" />
            </div>
        </div>
        <div class="column">
            <div class="driver-helmet">
                <img src="/img/teams/aston-martin/aston-martin-logo.jpg" />
                <img src="/img/drivers-content/sebastian-vettel/helmet.png" />
            </div>
            <br />
            <div class="team-table">
                <table>
                    <tr>
                        <th>Position standing</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[11].Pos
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Team</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[11].Team
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Grand Prix entered</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[11].GrandPrix
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Wins</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[11].Wins
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Podiums</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[11].Podiums
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Pole position</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[11].PolePosition
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Fastest lap</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[11].FastestLap
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Laps led</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[11].LapsLed
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Points</th>
                        <td>
                            @if (VectorDrivers == null)
                            {
                                <p> loading</p>
                            }
                            else
                            {
                                @VectorDrivers[11].Points
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="carousel">
        <Carousel @bind-SelectedSlide="@selectedSlide" Crossfade="true" ShowControls="false" ShowIndicators="false" Interval="3000">
            <CarouselSlide Name="1">
                <img src="img/drivers-content/sebastian-vettel/img-1.jpg" />
            </CarouselSlide>
            <CarouselSlide Name="2">
                <img src="img/drivers-content/sebastian-vettel/img-2.jpg" />
            </CarouselSlide>
            <CarouselSlide Name="3">
                <img src="img/drivers-content/sebastian-vettel/img-3.jpg" />
            </CarouselSlide>
            <CarouselSlide Name="4">
                <img src="img/drivers-content/sebastian-vettel/img-4.jpg" />
            </CarouselSlide>
        </Carousel>
    </div>
    <div class="team-content">
        <h1>Biography</h1>
        <p>
            Born and raised a Bull, then a Prancing Horse, and now the face of Aston Martin’s Formula 1 revival, F1's poster boy of early achievement had won more than all but two drivers in history by the time he was just 26, including back-to-back world titles between 2010 and 2013.
            <br />
            <br />
            Vettel’s trademark is pure pace – and of course his one-finger victory salute. In the chase to the chequered flag, he likes to lead from the front and just like his hero, Michael Schumacher. But for all his competitive streak, Vettel has a playful side too and has been known to let loose with a spot of Beatles karaoke - and baby can he drive a car.
            <br />
            <br />
            Alongside his four world crowns he can boast more than 50 pole positions and race victories, ranking him – statistically - above many of the biggest names in F1 history. No wonder then that he has twice been hand-picked to return some of Grand Prix oldest names to glory.
            <br />
            <br />
            Following his move to Maranello, that mission didn’t exactly go to plan as Vettel’s rivalry with Lewis Hamilton intensified. Then came an additional thorn in his side – young-gun Ferrari team mate Charles Leclerc, the first man to outscore him over a season at the Scuderia.
            <br />
            <br />
            His latest challenge is as Aston Martin’s team leader. He has already put them on the podium, but Vettel will need to call on all his speed and experience if he’s to regularly reassert himself over his rivals – and re-establish his reputation as one of the sport’s all-time greats.
        </p>
        <h1>Results</h1>
        <p>20 includes P20, DNFs, DNSs, DWs and DNPs</p>
        <div style="width: 99%">
            <LineChart @ref="lineChart" TItem="WatcherEvent" Options="@lineChartOptions" />
        </div>
    </div>
    <CardDeck>
        <Card>
            <CardImage Source="/img/teams/aston-martin/img-4.jpg"></CardImage>
            <CardBody>
                <CardTitle Size="5">
                    @if (VectorDrivers == null)
                    {
                        <p> loading</p>
                    }
                    else
                    {
                        @VectorDrivers[14].Driver
                    }
                </CardTitle>
                <CardText>
                    @if (VectorDrivers == null)
                    {
                        <p> loading</p>
                    }
                    else
                    {
                        @VectorDrivers[11].Driver
                    }
                    teammate.
                </CardText>
                <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                    <Link To="/Drivers/LanceStroll" TextColor="TextColor.White">
                    READ MORE <Icon Name="IconName.ArrowRight" />
                    </Link>
                </Button>
            </CardBody>
        </Card>
        <Card>
            <CardImage Source="/img/teams/aston-martin/aston-martin-logo.jpg" ></CardImage>
            <CardBody>
                <CardTitle Size="5">
                    @if (VectorDrivers == null)
                    {
                        <p> loading</p>
                    }
                    else
                    {
                        @VectorDrivers[11].Team
                    }
                </CardTitle>
                <CardText>
                    @if (VectorDrivers == null)
                    {
                        <p> loading</p>
                    }
                    else
                    {
                        @VectorDrivers[11].Driver
                    }
                    team.
                </CardText>
                <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                    <Link To="/Teams/AstonMartin" TextColor="TextColor.White">
                    READ MORE <Icon Name="IconName.ArrowRight" />
                    </Link>
                </Button>
            </CardBody>
        </Card>
        <Card>
            <CardImage Source="/img/Changes.jpg"></CardImage>
            <CardBody>
                <CardTitle Size="5">Drivers</CardTitle>
                <CardText>
                    Full drivers lineup.
                </CardText>
                <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                    <Link To="/Drivers" TextColor="TextColor.White">
                    READ MORE <Icon Name="IconName.ArrowRight" />
                    </Link>
                </Button>
            </CardBody>
        </Card>
    </CardDeck>
</Jumbotron>

@*Theme*@
<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="typeof(App).Assembly">
        <Found>...</Found>
        <NotFound>...</NotFound>
    </Router>
</Blazorise.ThemeProvider>

@code {
    private string selectedSlide = "1";

    private Theme theme = new Theme
    {
        ColorOptions = new ThemeColorOptions { Primary = "#E10600" }
    };

    private Root[]? VectorDrivers;
    private int[] DriversNumbers = { 1, 16, 11, 63, 55, 44, 4, 31, 14, 77, 3, 5, 20, 10, 18, 47, 22, 24, 23, 6 };

    protected override async Task OnInitializedAsync ()
    {
        VectorDrivers = await Http.GetFromJsonAsync<Root[]>("sample-data/DriverStatistics.json");
    }

    public class Root
    {
        public int Pos { get; set; }
        public string Driver { get; set; }
        public string Team { get; set; }
        public int GrandPrix { get; set; }
        public int Wins { get; set; }
        public int Podiums { get; set; }
        public int PolePosition { get; set; }
        public int FastestLap { get; set; }
        public int LapsLed { get; set; }
        public int Points { get; set; }
    }

    private LineChart<WatcherEvent> lineChart;

    LineChartOptions lineChartOptions = new()
        {
            Parsing = new ChartParsing
            {
                XAxisKey = "sector",
                YAxisKey = "count",
            }
        };

    string[] Labels = { "Bahrain", "Saudi Arabia", "Australia", "Emilia Romagna", "Miami", "Spain", "Monaco", "Azerbaijan", "Canada", "Great Britain", "Austria", "France",
                        "Hungary", "Belgium", "Netherlands", "Italy", "Singapore", "Japan", "United States", "Mexico", "Brazil", "Abu Dhabi"};


    private List<string> backgroundColors = new() { ChartColor.FromRgba(255, 99, 132, 0.2f) };
    private List<string> borderColors = new() { ChartColor.FromRgba(255, 99, 132, 1f) };

    private bool isAlreadyInitialised;

    public class WatcherEvent
    {
        public string Sector { get; set; }
        public int Count { get; set; }
    }

    protected override async Task OnAfterRenderAsync (bool firstRender)
    {
        if (!isAlreadyInitialised)
        {
            isAlreadyInitialised = true;
            await lineChart.Clear();
            await lineChart.AddDataSet(GetLineChartDataset());
        }
    }

    private LineChartDataset<WatcherEvent> GetLineChartDataset ()
    {
        return new()
            {
                Label = "Sebastian Vettel",
                Data = new List<WatcherEvent>
            {
                new WatcherEvent { Sector = Labels[0], Count = 20 },
                new WatcherEvent { Sector = Labels[1], Count = 20 },
                new WatcherEvent { Sector = Labels[2], Count = 20 },
                new WatcherEvent { Sector = Labels[3], Count = 8 },
                new WatcherEvent { Sector = Labels[4], Count = 17 },
                new WatcherEvent { Sector = Labels[5], Count = 11 },
                new WatcherEvent { Sector = Labels[6], Count = 10 },
                new WatcherEvent { Sector = Labels[7], Count = 6 },
                new WatcherEvent { Sector = Labels[8], Count = 12 },
                new WatcherEvent { Sector = Labels[9], Count = 9 },
                new WatcherEvent { Sector = Labels[10], Count = 17 },
                new WatcherEvent { Sector = Labels[11], Count = 11 },
                new WatcherEvent { Sector = Labels[12], Count = 10 },
                new WatcherEvent { Sector = Labels[13], Count = 8 },
                new WatcherEvent { Sector = Labels[14], Count = 14 },
                new WatcherEvent { Sector = Labels[15], Count = 20 },
                new WatcherEvent { Sector = Labels[16], Count = 8 },
                new WatcherEvent { Sector = Labels[17], Count = 6 },
                new WatcherEvent { Sector = Labels[18], Count = 8 },
                new WatcherEvent { Sector = Labels[19], Count = 14 },
                new WatcherEvent { Sector = Labels[20], Count = 11 },
                new WatcherEvent { Sector = Labels[21], Count = 10 },
            },
                BackgroundColor = backgroundColors[0],
                BorderColor = borderColors[0],
                Fill = true,
                PointRadius = 3,
                BorderWidth = 1,
                PointBorderColor = Enumerable.Repeat(borderColors.First(), 6).ToList(),
                CubicInterpolationMode = "monotone",
            };
    }
}
